<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>dircast</title>
    <link rel="stylesheet" href="styles.css"/>
</head>
<body>
    <header><h1>dircast</h1></header>
    <main>
        <form method="post">
            <label for="field-search">Search Query</label>
            <input
                type="text"
                name="search"
                id="field-search"
                class="text-input"
                {% if search_query %}
                value="{{search_query}}"
                {% endif %}
            >
            <label for="field-title">Title</label>
            <input
                    type="text"
                    name="title"
                    id="field-title"
                    class="text-input"
                    {% if title_query %}
                    value="{{title_query}}"
                    {% endif %}
            >
            <label for="field-author">Author</label>
            <input
                    type="text"
                    name="title"
                    id="field-author"
                    class="text-input"
                    {% if author_query %}
                    value="{{author_query}}"
                    {% endif %}
            >
            <input type="submit" class="button">
        </form>

        {% if feed_url %}
        <h2>Feed URL</h2>
        <div>
            <a class="feed-url" href="{{feed_url}}">{{feed_url}}</a>
        </div>
        {% endif %}

        {% if search_results %}
        <h2>Results</h2>
        <div>
            {% for result in search_results %}
            <h3>{{result.name}}</h3>
            <p><a href="{{result.url}}">{{result.url}}</a></p>
            {% endfor %}
        </div>
        {% endif %}
    </main>
</body>
</html>
