<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>dircast</title>
    <link rel="stylesheet" href="styles.css"/>
</head>
<body>
    <header><h1>dircast</h1></header>
    <main>
        <form method="post">
            <label for="search-query">Search Query</label>
            <input type="text" name="search" id="search-query">
            <input type="submit">
        </form>

        {% if feed_url %}
        <h2>Feed URL</h2>
        <div>
            <code>{{feed_url}}</code>
        </div>
        {% endif %}

        {% if search_results %}
        <h2>Results</h2>
        <div>
            {% for result in search_results %}
                <p>{{result.name}} {{result.url}}</p>
            {% endfor %}
        </div>
        {% endif %}
    </main>
</body>
</html>
