body {
    font-family: "Ubuntu", sans-serif;
}

header, main {
    width: 100rem;
    margin: 0 calc(50vw - 50rem);
}

form {
    display: grid;
}

label {
    margin-bottom: 0.5rem;
    font-size: larger;
}

input {
    margin-bottom: 1rem;
    font-size: larger;
}

.text-input {
    padding: 1rem;
}

.button {
    width: 20rem;
}

.feed-url {
    font-family: "Ubuntu Mono", "monospace";
    padding: 1rem;
    width: 98%;
    display: inline-block;
    background-color: #EEE;
}
